body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;

   
}

.links {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}
.box1 {
    padding: 24px 100px 100px 100px;
    background-color: #1f2937
}

.b1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.big-text {
    font-size: 48px;
    font-weight: 900;
    Color: #F9FAF8;
}
.little-text {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 5px 16px;

}

p {
font-size: 36px;
font-weight: 900;
color: #1f2937;
text-align: center;
}

.box2 {
    padding: 16px 0 72px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.text {
    width: 100px;
}

.box3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    text-align: center;
    padding: 72px;
}
.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.bold-text {
    font-weight: 900;
    align-self: flex-end;
    width: 850px;
    color: #1f2937;
}

.box4 {
   margin: 72px 100px;
   
}
.container {
    background-color: #3882f6;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}
.container button {
    border-style: solid;
    border-color: white;
    display: flex;
    align-self: center;
}

.container .big-text {
    font-size: 24px;
}
.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 24px;
}
